# SMTP Configuration for Vercel Serverless Function
MAIL_HOST=smtp.ethereal.email
MAIL_PORT=587
MAIL_USERNAME=maye.armstrong24@ethereal.email
MAIL_PASSWORD=abRJQDhNBdgKgtyPaf
MAIL_FROM_ADDRESS="hello@example.com"
CONTACT_ADMIN_EMAIL=saurabhsin6294@gmail.com
